<h3>Search Schedule Flights:</h3>
<input type="text" placeholder="Flight Id:xxxx" id="id"/> <button style="margin:5px;">Search</button><br><br>
<input type="text" placeholder="Flight Id:xxxx" id="fid" requried><br><br>
<input type="text" placeholder="Flight Model:xxxx" id="fmodel"  requried><br><br>
<input type="text" placeholder="Carrier Name:xxxx" id="cname"  requried><br><br>
<input type="text" placeholder="Seat Capacity::xxxx"id="sc" requried><br><br>
  <button type="button" style="background-color:rgb(8, 105, 8);color:white;" routerLinkActive="active" routerLink="search">Search</button>
  <button style="background-color:rgb(202, 39, 28);color:white;">Reset</button><br><br><br><br>
